*{
    padding:0;
    margin:0;
}

body{
    background-color: rgba(243, 144, 213, 0.397);
}
header{

    padding: 8px 0 2px 0px;
    height:19vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content:space-between;

    z-index: 3;

    box-shadow: 0px 3px 5px 2px rgb(175, 175, 175);
    background-color: rgba(241, 54, 54, 0.856);
    font-family: 'Source Code Pro', monospace;
    text-align: center;


}


header a{
    font-weight: 600;
    height: 100%;
    border:0px black dotted;
    font-size: 1.1em;
    color:rgb(0, 0, 0);
    text-align: none;
    text-decoration: none;
}

header a:hover{
    color:white;
}

#badge{
    max-height: 100%;
    height: 100%;

}

#badge a{
    background-color: rgb(88, 29, 29);
    margin:0;
    padding:0;
    width: 100%;
    outline: solid 0px rgb(60, 218, 94);
    max-height:100%;
}

#badge a img{
    margin: 0;
    padding: 0;
    height: 95%;
    max-width: 100%;
    display: block;

    outline:0px solid red;


    filter: drop-shadow(0 0 8px rgb(0, 0, 0));
}
#navigation{
    /*justify-self: right;*/
    height:fit-content;
    width: 100%;
    font-size: 0.8em;
    outline:purple 0px solid;
    display:grid;
    grid-template-columns: repeat(6,1fr);
}

#navigation a{
    margin:1.8em 0px;
    font-size: 1.3em;
    outline: 0px grey dotted;
    height:fit-content;

}

#title.hover{
    cursor:crosshair;
}


.navbar{
    display:flex;
    flex-direction: column;
}


@media screen and (max-width:500px) {
    .video-container p{
        text-decoration: underline;
        font-size: 1.2em;
        margin-bottom:3% ;
    }
    #navigation{
        font-size: 0.52em;
        max-width: 65%;
        margin-left: -3%;
        text-align: center;
    }
    
    #navigation{
        grid-template-columns: repeat(2,1fr);
    }
    
    h2{
        font-size: medium;
        font-weight: 500;
    }
    
    main{
        grid-template-columns: 1fr;
    }
    
    #articles-container{
        grid-template-columns: 1fr;
    }
    
    .articlead{
        display: block;
    }
    
    #main-left{
        display: none;
    }
}