@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:wght@200&display=swap');
*{
    padding:0;
    margin: 0;
}

body{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(226, 224, 224, 0.555);
}


#jason-virus-close{
    left: 2.1%;
    top: 1.3%;
    width: 5%;
    position: absolute;
    z-index: 4;
    outline: red 0px solid;

}

.close-button{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 7;
    border: red 0px solid;
}
.close-button img{
    position: absolute;
    margin: auto;
    width: 80%;
    z-index: 6;
}

#jason-virus-close-top-left{
    display:block;
}

#virus1{
    z-index: 6;
    height: fit-content;
    width:100%;
    display: none;
    animation: clingy 3s linear 2s 2 alternate;
}

@keyframes clingy {
    50%{
        transform: scale(3);
    }

    100%{
        transform: scale(1);
    }
}


#virus1 img{
    display: block;
    position: absolute;
    margin: auto;
    width: 80%;
    z-index: 3;
}

header{

    padding: 8px 0 2px 0px;
    height:19vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content:space-between;

    z-index: 3;

    box-shadow: 0px 3px 5px 2px rgb(175, 175, 175);
    background-color: rgba(241, 54, 54, 0.856);
    font-family: 'Source Code Pro', monospace;
    text-align: center;


}
header a{
    font-weight: 600;
    height: 100%;
    border:0px black dotted;
    font-size: 1.1em;
    color:rgb(0, 0, 0);
    text-align: none;
    text-decoration: none;
}

header a:hover{
    color:white;
}

#badge{
    max-height: 100%;
    height: 100%;

}

#badge a{
    background-color: rgb(88, 29, 29);
    margin:0;
    padding:0;
    width: 100%;
    outline: solid 0px rgb(60, 218, 94);
    max-height:100%;
}

#badge a img{
    margin: 0;
    padding: 0;
    height: 95%;
    max-width: 100%;
    display: block;

    outline:0px solid red;


    filter: drop-shadow(0 0 8px rgb(0, 0, 0));
}
#navigation{
    /*justify-self: right;*/
    height:fit-content;
    width: 100%;
    font-size: 0.8em;
    outline:purple 0px solid;
    display:grid;
    grid-template-columns: repeat(6,1fr);
}

#navigation a{
    margin:1.8em 0px;
    font-size: 1.3em;
    outline: 0px grey dotted;
    height:fit-content;

}

#title.hover{
    cursor:crosshair;
}


.navbar{
    display:flex;
    flex-direction: column;
}


/*------------------------MAIN-----------------------------*/


main{
    display: grid;
    grid-template-columns:  4fr 1fr;
    margin-bottom: 120px;
    font-family: Arial, Helvetica, sans-serif;
}

main img{
    display: block;
    width:96%;
    margin:auto;

    
}

#main-centre{
    padding: 0 0;
    background-color: white;
}

#club-news-heading{
    
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgba(255, 164, 164, 0);
    border-top:black 3px solid;
    border-bottom:black 3px solid;
    box-shadow: 0px 0px 6px 2px rgba(97, 96, 96, 0.452);
    color: black;
    font-family:monospace ;
    
}

#articles-container{
    
    padding:0 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1%;
}

.article{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-bottom: 1%;
    padding-bottom: 1.5%;
    
    background-color: rgb(255, 255, 255);
    border-radius: 1%;
    box-shadow: 0px 0px 6px 2px rgba(97, 96, 96, 0.452);
}
.article h2{
    margin-top: 4px;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
}
.articlead{
    display: none;
}

#main-right{
    display: none;
}





@media screen and (max-width:500px){

    #navigation{
        font-size: 0.42em;
        max-width: 65%;
        margin-left: -3%;
        text-align: center;
    }

    #navigation{
        grid-template-columns: repeat(2,1fr);
    }

    h2{
        font-size: medium;
        font-weight: 500;
    }

    main{
        grid-template-columns: 1fr;
    }

    #articles-container{
        grid-template-columns: 1fr;
    }

    .articlead{
        display: block;
    }

    #main-left{
        display: none;
    }



}