@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:wght@200&display=swap');
body{
    font-family: 'Press Start 2P', cursive;
    width: 98%;
    background-color: rgba(39, 108, 199, 0.555);
}

header{
    margin: 5% auto;
    width: 100%;
}

#logo-link{
    padding:2%;
    outline:solid 2px white;
    width: 100%;
}
header a img{
    margin: auto;
    display: block;
    width: 90%;
}

#title.hover{
    cursor:crosshair;
}

header{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1.1fr 1fr;
    padding-bottom: 5%;
}

.navbar{
    margin-top:20%;
    display:flex;
    flex-direction: column;
}
.navbar a{
    width: 100%;
    font-weight: 700;
    padding:10px;
    height: 100%;
    border:0px black dotted;
    font-size: 1.4em;
    color:white;
    text-align: none;
    text-decoration: none;
}
.navbar a:hover{
    text-decoration:underline;
}


#team-photo{
    width:100%;
    margin:auto;
    border: 3px white solid;
}